PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.lxnogem.mongodb.net/boenda_pie?retryWrites=true&w=majority
JWT_SECRET=boenda_pie_purwokerto_super_secret_jwt_key_2026
NODE_ENV=development
